body{
    background-color: #D9D9D9;
    margin: 0;
    height: 3000px;
}

.naglowek_1{
    width: 98%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}

.cos1{
    background-color: #585563;
    width: 310px;
    height: 60px;
    align-self: flex-end;
}

.logo{
    background-color: #292D32;
    width: 450px;
    height: 95px;
    align-self: flex-end;
}

.ikony{
    width: 380px;
    height: 60px;
    display: flex;
    margin-top: 5px;
}

.ikona{
    height: 60px;
    width: 60px;
    background-color: #585563;
    margin-right: 35px;
}
.naglowek_2{
    width: 98%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 0 10px;

}


.opcje_plci{
    background-color: #B7A4BF;
    width: 650px;
    height: 50px;
    margin-top: 25px;

}


.wyszukiwarka{
    background-color: white;
    width: 390px;
    height: 75px;
   

}

.kolekcje{
    background-color: #585563;
    width: 100%;
    height: 390px;
    margin-top: 20px;
}

.rzeczy_i_nowosci{
    width: 100%;
    height: 2000px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.kolumna_1_nowosci{
    width: 1150px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.nowa_rzecz{
    width: 760px;
    height: 320px;
    background-color: #292D32;
}

.nowosci{
    width: 340px;
    height: 320px;
    background-color: #B7A4BF;
}

.rzeczy{
    width: 1150px;
    height: 1000px;
    display: flex;
    justify-content: space-between;
}

.rzecz{
    width: 200px;
    height: 300px;
    background-color:#585563;
}

.koncowka{
    width: 40px;
    height: 300px;
    background-color: #585563;
}
